<div id="planave-page" class="container" layout-wrap>
    <div class="col s12">
        <form name="form" ng-submit="vm.Create()" role="form">

            <h5 class="center-align">Planave</h5>

            <div class="row">
                <div class="input-field col s12">
                    <label for="embarcacao">Embarcação</label>
                    <input type="text" id="embarcacao" ng-model="vm.embarcacao"/>
                </div>
            </div>

            <span>Partida</span>
            <div class="row">
                <div class="col s12">
                    <input mdc-datetime-picker="" date="true" time="false" format="DD/MM/YYYY" type="text" id="datetime"
                           placeholder="Data" min-date="vm.minDate" ng-model="vm.dataPartida" class="md-input" />
                </div>
            </div>

            <span>Retorno</span>
            <div class="row">
                <div class="col s12">
                    <input mdc-datetime-picker="" date="true" time="true" format="DD/MM/YYYY hh:mm a" type="text" id="dataRetorno"
                           placeholder="" min-date="vm.minDate" ng-model="vm.dataRetorno" class="md-input" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="destino" ng-bind="vm.destino"/>
                    <label for="destino">Destino</label>
                </div>
            </div>
            <p><a href="#/login" class="btn btn-primary">Criar</a></p>
        </form>
    </div>
</div>