<div id="planave-page" class="row">
    <div class="col s12">
        <form name="form" ng-submit="vm.Create()" role="form">

            <h4 class="row center-align">Planave</h4>
            <div class="row">
                <div class="input-field col s12">
                    <label for="embarcacao">Embarcação</label>
                    <input type="text" id="embarcacao" ng-model="vm.embarcacao"/>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <md-input-container>
                        <label>Data Partida</label>
                        <input time="false" date="true" format="DD/MM/YYYY" mdc-datetime-picker type="text" id="date"
                               placeholder="Data Partida"
                               ng-model="vm.partida" min-date="vm.minDate" max-date="maxDate">
                    </md-input-container>
                </div>

                <div class="col s6">
                    <md-input-container>
                        <label>Hora Partida</label>
                        <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                               placeholder="Hora"
                               min-date="vm.minDate"
                               format="hh:mm"
                               ng-model="time">
                    </md-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <md-input-container flex-gt-md="30">
                        <label>Data Retorno</label>
                        <input time="false" date="true" format="DD/MM/YYYY" mdc-datetime-picker type="text"
                               placeholder="Data Retorno"
                               ng-model="vm.retorno" min-date="vm.minDate" max-date="maxDate">
                    </md-input-container>
                </div>

                <div class="col s6">
                    <md-input-container flex-gt-md="30">
                        <label>Hora Retorno</label>
                        <input mdc-datetime-picker date="false" time="true" type="text" short-time="true"
                               placeholder="Hora"
                               min-date="vm.minDate"
                               format="hh:mm"
                               ng-model="time">
                    </md-input-container>
                    <!--<div  flex-gt-md="grow" ex-source-code target="input"></div>-->
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="text" id="destino" ng-bind="vm.destino"/>
                    <label for="destino">Destino</label>
                </div>
            </div>

            <p><a href="#/login" class="btn btn-primary">Criar</a></p>
        </form>
    </div>
</div>